[Desktop Entry]
Type=Service
ServiceTypes=Krita/PythonPlugin
X-KDE-Library=fastExport
X-Python-2-Compatible=false
Name=Fast Export
Comment=Export File to PNG with remembered folder
